---
layout: default
---
<!-- Post Featured Image -->
{% if page.image %}
<div class="text-center mx-auto mb-5">
  <img class="featured-image text-center mx-auto rounded" src="{{ site.baseurl }}/{{ page.image }}" alt="{{ page.title }}">
</div>
{% endif %}
<!-- End Featured Image -->

<div class="col-lg-8 mx-auto">

  <div class="mainheading">
    <h1 class="posttitle">{{ page.title }}</h1>
  </div>

  <div class="article-post serif-font">
    {{content}}
  </div>

  {% assign groups = site.data.praticiens | group_by: page.group %}
  {% for group in groups %}
  {% if page.group == 'specialite' %}
    <p><strong>{{ group.name | capitalize }}</strong></p>
  {% else %}
    <p>Département: <strong>{{ group.name }}</strong></p>
  {% endif %}
  <ul>
    {% assign praticiens = group.items | sort: "prenom" | sort: "nom" %}
    {% for praticien in praticiens %}
    <li>
      {{ praticien.prenom }} {{ praticien.nom }}
      {% if page.group == 'specialite' %}
        <a class="tag" href="#">{{ praticien.departement }}</a>
      {% else %}
        <a class="tag" href="#">{{ praticien.specialite }}</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  {% endfor %}
</div>
